<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />

        <!-- Custom JS -->
        <script src="/js/main.js" defer></script>

        <title>YelpCamp - <%= title %></title>
    </head>
    <body>
</html>
