<% layout('layouts/boilerplate') -%>

<section class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <div>
            <form
                action="/campgrounds"
                method="POST"
                novalidate
                class="needs-validation"
            >
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input
                            type="text"
                            id="title"
                            name="campground[title]"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label"
                            >Location</label
                        >
                        <input
                            type="text"
                            id="location"
                            name="campground[location]"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Please enter a location
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input
                            type="text"
                            id="image"
                            name="campground[image]"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">
                            Please enter a image URL
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="price">$</span>
                            <input
                                type="number"
                                id="price"
                                placeholder="0.00"
                                name="campground[price]"
                                class="form-control"
                                min="0"
                                aria-label="price"
                                aria-describedby="price"
                                required
                            />
                            <div class="invalid-feedback">
                                Please enter a price
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label"
                            >Description</label
                        >
                        <textarea
                            id="description"
                            name="campground[description]"
                            rows="5"
                            class="form-control"
                            required
                        ></textarea>
                        <div class="invalid-feedback">
                            Please enter a description
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-success">
                        Add Campground
                    </button>
                    <a href="/campgrounds" class="btn btn-danger">Back</a>
                </div>
            </form>
        </div>
    </div>
</section>
