<% layout('layouts/boilerplate') -%>
<section>
    <h1>New Campground</h1>

    <form action="/campgrounds/new" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" />
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" />
            <label for="description">Description</label>
            <input
                type="text"
                id="description"
                name="campground[description]"
            />
            <label for="price">Price</label>
            <input type="number" id="price" name="campground[price]" min="0" />
        </div>

        <button type="submit">Add</button>
    </form>

    <a href="/campgrounds">Back</a>
</section>
