        <%- include('../partials/head') %>
        <%- include('../partials/header') %>
        <main>
            <%- body -%>
        </main>
        <%- include('../partials/footer') %>

        <!-- Bootstrap JS -->
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>